
html,
body {
    margin: 1 px;
    padding: 0;
    
}
h1{
    margin: ;
    border-radius: 20% ;
    background-color: rgb(153, 153, 197);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 500%;
    font-weight:bold ;
    border: 5px solid black

}
p{
    margin: 10px ;
    border-radius: 5%;
    background-color: rgb(157, 166, 173);
    color: black;
    text-align: center;
    font-size: 200%;
}
h2 {
    text-align:center;
    color: black;
    background-color: bisque;
    border-color: black;
    border: 5px ridge rgb(124, 124, 204);
    font-size: 500%;

}
h2:hover{
    margin: 50px ;
    border-radius: 5%;

}
.Salt{
    display: flex;
    justify-content: space-around;
    
}

.pepper{
    display: flex;
    justify-content: space-around;
}

.nav-bar{
    margin: 4px;
    display: flex;
    justify-content: space-around;

}
button{
    margin: ;
    font-size: 100%;


}
ul{
    font-size: 200%;
}